@import '../../../styles/variables';
@import '../../../styles/mixins.scss';


.nav {
  @include box-shadow();
  margin-left: 17%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;
  
    .inputsContainer {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .itemscontainer {display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      color: #333;
      font-weight: 500;
      padding: 8px 12px;
      border-radius: 8px;
      cursor: pointer;
      
      .infoUser{
        display: flex;
        align-items: center;

          .image{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $color-secondary;
            margin-right: 10px;
            overflow: hidden;
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
      }
  }
}
    