$color-primary: #fff;
$color-secondary: #000;
$color-blue: #125dc0;
$color-error: #ef4444;
$color-green-ligth: rgb(140, 225, 140);
$color-green-dark: rgb(8, 80, 8);
$color-red: #dc3545;
$color-table-thead: #f4f4f4;
$color-border: #d1d5db;
$color-gray-hover: #f1f1f1;