@import '../../../styles/variables';
@import '../../../styles/mixins.scss';

.containerForm {
  @include border-radius(0.5rem);
  @include box-shadow();
  margin: 5% auto;
  width: 40%;  
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-primary;

  form {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .title {
      font-weight: bold;
      margin-bottom: 1.5rem;
      font-size: 1.8rem;
      text-align: center;
  }

  .formField {
      margin-bottom: 1.5rem;
      width: 100%;
  }

  .footerForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      margin-top: 1.5rem;
      font-size: 1rem;
  }

  .link {
      text-decoration: none;
      color: $color-blue;
      margin: 0.5rem;
  }
}


.error {
  color: $color-error;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: left;
}

@media (max-width: 768px) {
  .containerForm {
      width: 80%;  
      padding: 1.5rem;
  }

  .title {
      font-size: 1.5rem;
  }
}